<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <% data.forEach(ele =>{%>
            <form action="/yelp" method="POST">
                <h1><%=ele.name%></h1>
                <img src="<%= ele.image_url %>" alt="">
                <input type="hidden" value="<%= ele.name%>" name = "name">
                <input type="hidden" value="<%= ele.image_url%>" name = 'img'>
                <input type="submit" value="Submit">
            </form>
        <%}) %>
    </main>
</body>
</html>