<form action="/yelp" method="GET">
    <label for="name">
        City Name:
        <input type="text" name="name">
    </label>
    <label for="page">
        Page:
        <input type="number" name = 'page'>
    </label>
    <input type="submit" value="Submit">
</form>